.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1025px) {
  .firstComponent {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  
  .innerFirstComponent {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .firstComponent .header {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .firstComponent .text {
   color: #222326; 
   font-size: 20px;
  }
  
  .address {
    display: grid;
    grid-template-columns: 7fr 3fr;
    height: 700px;
  }
  
  
  .address .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #05aff0;
    color: white;
  }
  
  .address .right .header {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .address .right .text {
    font-size: 25px;
  }
}

@media (max-width: 1024px) and (min-width: 800px) {
  .firstComponent {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .innerFirstComponent {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .firstComponent .header {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .firstComponent .text {
   color: #222326; 
   font-size: 20px;
  }

  .address {
    display: grid;
    grid-template-rows: 7fr 3fr;
    flex: 1;
  }
  
  
  .address .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #05aff0;
    color: white;
    padding: 50px 0;
  }
  
  .address .right .header {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .address .right .text {
    font-size: 25px;
  }
}

@media (max-width: 799px) {
  .firstComponent {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .innerFirstComponent {
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
  }
  
  .firstComponent .header {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .firstComponent .text {
   color: #222326; 
   font-size: 15px;
  }

  .address {
    display: grid;
    grid-template-rows: 7fr 5fr;
    height: 700px;
  }
  
  
  .address .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #05aff0;
    color: white;
  }
  
  .address .right .header {
    font-size: 42px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .address .right .text {
    font-size: 25px;
  }
}